@tailwind base;
@tailwind components;

@layer utilities {
  .footer{
    width: 100%;
    background: orange;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top:150px;
    padding:20px 0
  }
  .sat-three{
    position: absolute;
    right:1rem;
    bottom: 1rem;
    width:8%;
    transform: rotate(100deg);
  }
  .the-end {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 3.5rem;
    color:red;
  }
  .rights{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
  }
  @media (max-width:950px) {
    .the-end{
      font-size:1.5rem;
      max-height:100px;
      padding:10px 0px
    }

  }
}
@tailwind utilities;